@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
.button{
    width: 66px;
    padding:20px;
    margin: 0px 3px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 23px;
}

.row{
    margin: 8px 0px;
}

.row input{
    float: right;
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}