@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.text-center{
    text-align: center;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}